{% extends 'main.html' %}

{% block content %}

{% load static %}
 <main>
        <div class="text">
            <h1>Bienvenue sur notre <span>blog</span></h1>
            <h2>Pour voir une <span>Algerie</span> avec nos yeux</h2>
        </div>
        <div class="all-blog-content">
           
            <section class="section1">
                <div class="main-image" style="background-image: url({{blog.main_image.url}})"></div>
                <div class="section-text">
                    <h3>{{blog.name}}</h3>
                    <p>{{blog.main_section}}</p>
                </div>
                <div class="border"></div>
            </section>
            
            {% if blog.section2 %}
            <section class="section2">
                <img src="{{blog.section2_image.url}}" alt="">
                <div class="section-text">
                    <h3>{{blog.section2_title}}</h3>
                    <p>{{blog.section2}}</div>
                <div class="border"></div>
            </section>
            {% endif %}
            {% if blog.section3 %}
            <section class="section3">
                <img src="{{blog.section3_image.url}}" alt="">
                <div class="section-text">
                    <h3>{{blog.section3_title}}</h3>
                    <p>{{blog.section3}}</div>
                <div class="border"></div>
            </section>
            {% endif %}
            {% if blog.section4 %}
            <section class="section4">
                <img src="{{blog.section4_image.url}}" alt="">
                <div class="section-text">
                    <h3>{{blog.section4_title}}</h3>
                    <p>{{blog.section4}}</div>
                <div class="border"></div>
            </section>
            {% endif %}
            {% if blog.section5 %}
            <section class="section5">
                <img src="{{blog.section5_image.url}}" alt="">
                <div class="section-text">
                    <h3>{{blog.section5_title}}</h3>
                    <p>{{blog.section5}}</div>
                <div class="border"></div>
            </section>
            {% endif %}
        </div>
        <div class="secondary-blogs">
            <h2>Voir plus</h2>
            <div class="border"></div>
            <div class="slider">
                {% for sblog in sblogs %}
                {% if sblog.id != blog.id %}
                <a href="{% url 'blogdetail' sblog.id %}">
                    <div class="slider-blog">
                        <img src="{{sblog.main_image.url}}" ddloading="lazy" alt="">
                        <div class="background"></div>
                        <h3>{{sblog.name}}</h3>
                   </div>
                </a>
                {% endif %}
                {% endfor %}
           </div>
           <div class="buttons">
               <div class="go-left">
                <svg version="1.1" id="Capa_1" x="0px" y="0px"
	 viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
<g>
	<path d="M437.2,178.7c12.8,12.8,12.8,33.4,0,46.2c-6.4,6.4-14.7,9.6-23.1,9.6s-16.7-3.2-23.1-9.6L277.7,111.5v345.8
		c0,18-14.6,32.7-32.7,32.7s-32.7-14.6-32.7-32.7V111.5L99,224.9c-12.8,12.8-33.4,12.8-46.2,0s-12.8-33.4,0-46.2L221.9,9.6
		C228,3.4,236.3,0,245,0c8.7,0,17,3.4,23.1,9.6L437.2,178.7z"/>
</g>
</svg>

               </div>
               <div class="go-right">
                <svg version="1.1" id="Capa_1" x="0px" y="0px"
                viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
           <g>
               <path d="M437.2,178.7c12.8,12.8,12.8,33.4,0,46.2c-6.4,6.4-14.7,9.6-23.1,9.6s-16.7-3.2-23.1-9.6L277.7,111.5v345.8
                   c0,18-14.6,32.7-32.7,32.7s-32.7-14.6-32.7-32.7V111.5L99,224.9c-12.8,12.8-33.4,12.8-46.2,0s-12.8-33.4,0-46.2L221.9,9.6
                   C228,3.4,236.3,0,245,0c8.7,0,17,3.4,23.1,9.6L437.2,178.7z"/>
           </g>
           </svg>
           
               </div>
           </div>
        </div>
    </main>
    <footer>
        <img src="{% static 'images/IMG_5359.PNG' %}" alt="logo"/>
        <div class="footer-nav">
            <a href="{% url 'home' %}">
                <div>
                    <p>NOS SORTIE</p>
                    <svg version="1.1" id="Capa_1" x="0px" y="0px"
	 viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
<g>
	<g>
		<polygon points="0,332.668 245.004,82.631 490,332.668 413.507,407.369 245.004,235.402 76.493,407.369 		"/>
	</g>
</svg>
                </div>
            </a>
            <a href="{% url 'calendar' %}">
                <div>
                    <p>CALENDRIER</p>
                    <svg version="1.1" id="Capa_1" x="0px" y="0px"
	 viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
<g>
	<g>
		<polygon points="0,332.668 245.004,82.631 490,332.668 413.507,407.369 245.004,235.402 76.493,407.369 		"/>
	</g>
</svg>
                </div>
            </a>
            <a href="{% url 'blogs' %}">
                <div>
                    <p>NOTRE BLOG</p>
                    <svg version="1.1" id="Capa_1" x="0px" y="0px"
	 viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
<g>
	<g>
		<polygon points="0,332.668 245.004,82.631 490,332.668 413.507,407.369 245.004,235.402 76.493,407.369 		"/>
	</g>
</svg>
                </div>
            </a>
        </div>
        <div class="socials">
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </footer>


<script src="{% static 'js/blog.js' %}"></script>
{% endblock content %}