{% extends 'main.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	
	<div class="container p-5" Style="color:white">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Entrez votre adresse mail pour recevoir l'email de réinitialisation.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </form>
  	</div> 

{% endblock %}