
/* ------------SETTINGS--------------- */

@font-face {
    font-family: "poppins-light";
    src: url(Poppins/Poppins-Thin.ttf);
}
@font-face {
    font-family: "poppins-regular";
    src: url(Poppins/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins-regular';
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
:root{
    --primary:#F6EA38;
    --secondary:#D4C813;
    --dark1:#292929;
    --dark2:#474747;
    --dark3:#767676;
    --dark4:#B3B3B3;
    --white:#fff;
}


/* -------------------CODE---------------- */
body{
    height: 100vh;
    width: 100%;
    height:100%;
    width: 100%;
    background-color: var(--dark1);
}
.nav{
    width:calc(100% - 120px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    border-bottom: 1px solid #fff;
}
.nav a{
    padding: 2px 15px;
    color: #111;
    
    border-radius: 5px;
    font-family: arial;
}
.navlogout{
    background-color: yellow;
}
.nav img{
    height: 40px;
}

.nav h3{
    color: var(--white);
}
body::-webkit-scrollbar {
    display: none;
  }
  #pic-loading {
    width: 40vw;
    opacity: 0.5;
  }
  
  .spinner-container {
    background-color: #292929;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .spinner {
    transform: translate(-50%, -50%);
    animation: Rotate 2.4s both infinite linear;
  }
  .path {
    animation: DrawLine 1.6s both infinite alternate linear;
    fill: none;
    stroke: #f6ea38;
    stroke-width: 50;
  }
  @keyframes Rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes DrawLine {
    0% {
      stroke-dasharray: 0 126;
    }
    100% {
      stroke-dasharray: 126 126;
    }
  }

main{
    width: 100%;
    margin:30px auto 0;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main *{
    color:var(--white);
}

h1{
    font-size: 22px;
}
.border{
    height: 3px;
    width: 80px;
    border-radius: 1.5px;
    background-color: var(--white);
    margin-top: 5px;
}

.container{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: calc(100% - 80px);
    background-image: linear-gradient(to bottom, var(--dark2), var(--dark1));
    margin-bottom: 20px;
    border-radius: 5px;
    min-height: calc(100vh - 230px);
}
.feedbaks-list::-webkit-scrollbar {
    display: none;
  }
.feedbaks-list{
    width: calc(100% - 20px);
    padding: 0 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.feedback{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--dark4);
}
.profile, .buttons{
    width: 25%;
    display: flex;
    align-items: center;
}
.middle{
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
.stars{
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
    fill: var(--primary);
    margin-bottom: 10px;
}
.stars svg{
    height: 15px;
    height: 15px;
    margin: 2px;
}
.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary);
    width: 40px;
    height: 40px;
    margin-right: 15px;

}
.profile-pic img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.profile-name{
    font-family: "poppins-light";
}
.middle p{
    font-size: 11px;
    text-align: center;
}

.buttons{
    justify-content:flex-end;
}
.buttons button{
    width: 80px;
    border-radius: 3px;
    border: none;
    font-size: 10px;
}
#deja-accepte{
    background-color: var(--dark3);
    margin-right: 5px;
}
#accepter{
    background-color: #0B8D18;
    margin-right: 10px;
    cursor: pointer;
}
#refuser{
    background-color: #B80000;
    cursor: pointer;
}




/* ---------------log out--------------- */

.tableau-log-out{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--dark3);
    border-radius: 5px;
    width: 300px;
    flex-direction: column;
    display: none;
}
.tableau-log-out p{
    color: var(--white);
    text-align: center;
    border-bottom: 1px var(--white) solid;
    width: 100%;
}
.tableau-log-out a{
    line-height: 40px;
    color: var(--white);
    text-align: center;
    border-bottom: 1px var(--white) solid;
    cursor: pointer;
    width: 100%;
}
.tableau-log-out a:hover{
    background-color: var(--dark4);
}
#log-out-non{
    border-bottom: none;
}
.navlogout{
    background-color: yellow;
}
.dark-cover{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity:.7;
    height: 100vh;
    width: 100%;
    z-index: 1;
}