
/* ------------SETTINGS--------------- */

@font-face {
    font-family: "poppins-light";
    src: url(Poppins/Poppins-Thin.ttf);
}
@font-face {
    font-family: "poppins-regular";
    src: url(Poppins/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins-regular';
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
:root{
    --primary:#F6EA38;
    --secondary:#D4C813;
    --dark1:#292929;
    --dark2:#474747;
    --dark3:#767676;
    --dark4:#B3B3B3;
    --white:#fff;
}


/* -------------------CODE---------------- */
body{
    height: 100vh;
    width: 100%;
}
body::-webkit-scrollbar {
    display: none;
  }
  #pic-loading {
    width: 40vw;
    opacity: 0.5;
  }
  
  .spinner-container {
    background-color: #292929;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .spinner {
    transform: translate(-50%, -50%);
    animation: Rotate 2.4s both infinite linear;
  }
  .path {
    animation: DrawLine 1.6s both infinite alternate linear;
    fill: none;
    stroke: #f6ea38;
    stroke-width: 50;
  }
  @keyframes Rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes DrawLine {
    0% {
      stroke-dasharray: 0 126;
    }
    100% {
      stroke-dasharray: 126 126;
    }
  }
.container{
    height:100%;
    width: 100%;
    background-color: var(--dark1);
}
.nav{
    width:calc(100% - 120px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    border-bottom: 1px solid #fff;
}
.nav img{
    height: 40px;
}
.nav a{
    padding: 2px 15px;
    color: #111;
    
    border-radius: 5px;
    font-family: arial;
}
.navlogout{
    background-color: yellow;
}
.nav h3{
    color: var(--white);
}


main{
    max-width: 1000px;
    margin:50px auto 0;
    display: flex !important;
    justify-content: space-around;
    align-items: baseline;
}
main *{
    color:var(--white);
}
main section{
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:baseline;
}
section .sortie, .blogs a,.sorties a, section .blog, section .ajouter{
    width: 100%;
    height: 50px;
    background-color: var(--dark3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
.blogs a,.sorties a, section .ajouter{
    padding: 0;
}
section .sortie:hover, section .blog:hover, section .ajouter:hover ,.inscrits a:hover{
    background-color: var(--dark2);
}
section .ajouter{
    justify-content: center;
}
section .ajouter p{
    font-size: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    line-height: 30px;
    width: 30px;
    color: var(--dark3);
    text-align: center;
}
section h2{
    font-size: 18px;
}
.sorties .sortie .sortie1 h3, .blogs .blog .blog1 h3{
    font-size: 12px;
}
.sorties .sortie .sortie1 h4, .blogs .blog .blog1 h4{
    font-size: 9px;
    font-family: "poppins-light";
    opacity: .7;
}
.sorties .sortie .sortie2{
    display: flex;
    align-items: center;
}
.sorties .sortie .sortie2 h3{
    font-size: 12px;
    font-family: "poppins-light";
    opacity: .7;
}
.sorties .sortie .sortie2 div, .blogs .blog .blog2 div{
    width: 25px;
    height: 25px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.sorties .sortie .sortie2 div svg, .blogs .blog .blog2 div svg{
    width: 12px;
}
.inscrits a{
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: var(--dark3);
    margin: 5px 0;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
}



.dark-cover{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity:.7;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.tableau, .creerSortie, .creerBlog, .detailsSorties, .liste-des-inscrits{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--dark3);
    border-radius: 5px;
    width: 300px;
    display: none;
}
.close{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: var(--dark4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--dark2);
    cursor: pointer;
}
.close:hover{
    background-color: var(--dark3);
}
.close svg{
    height: 10px;
}
.creerSortie, .tableau-log-out{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--dark3);
    border-radius: 5px;
    width: 300px;
}
.tableau-log-out p{
    color: var(--white);
    text-align: center;
    border-bottom: 1px var(--white) solid;
    width: 100%;
}
.tableau-log-out a{
    line-height: 40px;
    color: var(--white);
    text-align: center;
    border-bottom: 1px var(--white) solid;
    cursor: pointer;
    width: 100%;
}
.tableau-log-out a:hover{
    background-color: var(--dark4);
}
.tableau-log-out{
    flex-direction: column;
    display: none;
}
#log-out-non{
    border-bottom: none;
}
#qst:hover{
    background-color: var(--dark3);
}
/* ------------- */


.creerSortie, .creerBlog, .detailsSorties, .liste-des-inscrits{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding: 10px 30px;
    width: 800px;
    background-color: var(--dark1);
}
.creerSortie *, .creerBlog *, .detailsSorties *, .liste-des-inscrits{
    color: var(--white);
}
.creerSortie * input, .creerSortie * select, textarea, .creerBlog * input, .creerBlog * select, .detailsSorties * input, .buttons button, .detailsSorties * select, .liste-des-inscrits * input, .liste-des-inscrits * select{
    background-color: var(--dark2);
    border-radius: 5px;
    border: none;
    padding: 0 5px;
    width: calc(100% - 10px);
    margin-bottom: 5px;
    color: var(--dark4);
    height: 24px;
}
.creerSortie * input:focus, .creerSortie * select:focus, textarea:focus, .creerBlog * input:focus, .creerBlog * select:focus, .detailsSorties * input:focus, .detailsSorties * select:focus, .liste-des-inscrits * input:focus, .liste-des-inscrits * select:focus{
    outline: 1px var(--primary) solid;
}
.creerSortie h2, .creerBlog h2{
    font-size: 20px;
    margin-bottom: 10px;
}
#form-sortie, #form-blog{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}
#form-sortie *, #form-blog{
    font-size: 14px;
}
.creerSortiepart, .creerBlogpart{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.creerSortie * .submit, .creerBlog * .submit{
    background-color: var(--primary);
    color: var(--dark1);
    margin-top: 20px;
    cursor: pointer;
}
.submit:hover{
    background-color: var(--secondary);
}

textarea{
    resize: none;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: none;
}
textarea::-webkit-scrollbar {
    display: none;
  }

#description, #programme, #prevoir, #blogSection1, #blogSection2, #blogSection3, #blogSection4, #blogSection5{
    height: 50px;
    font-size: 12px;
}



.insererPhotos{
    display: none;
}
.insererPhotosLabel{
    width: 100%;
    border-radius: 5px;
    background-color: var(--dark4);
    text-align: center;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    color: var(--dark1);
    cursor: pointer;
}
.insererPhotosLabel:hover{
    background-color: var(--dark3);
}

.infosSortie1{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.infosSortie1 div{
    display: flex;
    align-items: center;
}
.infosSortie1 div h2{
    display: flex;
    font-size: 20px;
    margin-right: 10px;
}
.infosSortie1 div h4{
    font-family: "poppins-light";
    font-size: 14px;
    opacity: .5;
}
.infosSortie1 h5{
    font-family: "poppins-light";
    font-size: 12px;
    opacity: .5;
    border-bottom: 1px solid var(--white);
    padding: 0 10px;
}



.infosSortie2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.infosSortie2 .liste{
    width: 40%;
}
.infosSortie2 .liste h3{
    font-family: "poppins-light";
    font-size: 14px;
    margin-bottom: 10px;
}
.participants{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 5px;
    background-color: var(--dark2);
    height: 320px;
}

.participants::-webkit-scrollbar {
    display: none;
  }
.participants .participant{
    width: calc(100% - 20px);
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 2px solid var(--dark1);
    cursor: pointer;
}
.participants .participant:hover{
    background-color: var(--dark3);
}
.participants .participant .pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    overflow: hidden;
    margin-right: 10px;
}
.participants .participant .pic img{
    width: 40px;
    height: auto;
}
.participants .participant .pic p{
    font-size: 25px;
}
.participants .participant .name-pseudo{
    width: 55%;
}
.participants .participant .name-pseudo .name{
    font-size: 14px;
    font-family: "poppins-light";
}
.participants .participant .name-pseudo .pseudo{
    font-size: 12px;
    font-family: "poppins-light";
}
.participants .participant .statut{
    font-size: 9px;
    padding: 1px 14px;
    background-color: #F5B603;
    border-radius: 3px;
}
.participants .participant * p, .infosSortie2 .right * p{
    display: block;
}


.infosSortie2 .right{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infosSortie2 .right .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark2);
    border-radius: 5px;
    margin-top: 60px;
    padding: 0 20px;
}

.infosSortie2 .right .profile .pic{
    margin-top: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 2px 2px 8px var(--dark1);
}
.infosSortie2 .right .profile .pic img{
    width: 90px;
    height: auto;
}
.infosSortie2 .right .profile .pic p{
    font-size: 40px;
}
.infosSortie2 .right .infos{
    display: flex;
    margin-top: 20px;
}
.infosSortie2 .right .infos .infos1{
    width: 40%;
}
.infosSortie2 .right .infos .infos1 p{
    font-size: 16px;
    opacity: .5;
    font-family: "poppins-light";
}
.infosSortie2 .right .infos .infos2{
    width: 60%;
}
.infosSortie2 .right .infos .infos2 p{
    font-size: 16px;
    font-family: "poppins-light";
}
.detailsSorties * input, .detailsSorties * select, .liste-des-inscrits * input, .liste-des-inscrits * select{
    display: none;
    background-color: var(--dark1);
    height: 16px;
    font-size: 11px;
}
.infosSortie2 .right .profile .buttons{
    margin: 15px 0;
}
.infosSortie2 .right .profile .buttons button{
    font-size: 11px;;
    border-radius: 5px;
    height: 20px;
    cursor: pointer;
}
#rejeter, #accepter{
    width:70px;
    color: var(--white);
}
#rejeter{
    background-color: #B80000;
}
#accepter{
    background-color: #0B8D18;
}
#rejeter:hover, #fermerIncriptions:hover{
    background-color: #AB0000;
}
#accepter:hover{
    background-color: #0A7815;
}
#modifierPofileSortie, #enregistrerPofileSortie, #modifierPofileListe, #enregistrerPofileListe{
    background-color: var(--primary);
    width: 120px;
    color: var(--dark1);
    margin-left: 10px;
}
#enregistrerPofileSortie, #enregistrerPofileListe{
    display: none;
}
#modifierPofileSortie:hover, #enregistrerPofileSortie:hover, #modifierPofileListe:hover, #enregistrerPofileListe:hover{
    background-color: var(--secondary);
}

#fermerIncriptions{
    border-radius: 5px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    background-color: #B80000;
    padding: 2px 20px;
}